//Vars
$main-font: 'Arial';

//Current Month block and arrows
$current-month-block-bg-color : #138DA5;
$current-month-block-border-color   : #E3E3E3;
$current-mont-text-color: #fff;
$arrow-color  : #fff;

//Events
$event-cell-bg-color    : #89B814;
$event-cell-text-color  : #fff;

//Subtitle Block
$next-event-title-color : #807E7E;
$event-title-color      : #0E8EAB;
$time-box-bg-color      : #807E7E;
$time-box-text-color    : #fff;
