/*= ONLY FOR DEMO PAGE */
body {
  /*
      width:978px;
      box-shadow:0 0 10px #777;
      padding: 20px 40px;
      margin:0 auto;
      */
}
a { color: #0E8EAB}
/*
.eventCalendar-wrap {
	width:265px;
}
*/
.features li { margin-bottom:3px;}
#thanksPanel li { margin-bottom:0;}
#introPanel { padding-top:20px;}

.poweredBy img {
  float:left;
  margin-right:3px;
}
.poweredBy .data {
  float:left;
}
.poweredBy .name {
  font-weight:bold;
  color:#555;
  text-decoration:none;
  display:block;
  margin-top:28px;
}
.poweredBy .twitter {
  text-decoration:none;
  display:block;
  float:left;
}
.features {
  padding-left:20px;
  float:left;
}
#appLogo {
  margin-right:30px;
}
pre {
  clear:both;
  background-color:#FFFFCC;
  padding:5px;
  border:solid 1px #FED17E;
  overflow:auto;
}
#license {
  width:300px;
  float:right;
  font-size:10px;
  line-height:12px;
  text-align:center;
}


/* end of demo page */